{{ define "main" }}
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h2 class="bigtext">Services</h2>
  </div>
</div>
<div class="ui vertical center aligned container padding">
  <div class="ui text container">
    <h3>Custom Data Collection</h3>
    <p>You provide the requirements and our scraping gurus deliver the desired data to you</p>
  </div>
</div>
<div class="ui four column center aligned divided relaxed stackable grid container padding">
    <div class="row"></div>
    <div class="row">
        <div class="column">
            <h3 class="ui icon header">
                <i class="ui lightning full icon image"></i>
                Instant
            </h3>
            <p>Gather data from up to 10 websites within a week.<br />Fast and reliable.</p>
            <h4>$200 per site</h4>
            <a href="mailto:asciimoo@gmail.com" class="ui primary view-ui large basic button">Order</a>
        </div>
        <div class="column">
            <h3 class="ui icon header">
                <i class="ui star icon image"></i>
                Advanced
            </h3>
            <p> Unlimited number of websites.<br />Let us handle your scrapers and enjoy the data.</p>
            <h4>From $2,000</h4>
            <a href="mailto:asciimoo@gmail.com" class="ui primary view-ui large basic button">Contact</a>
        </div>
    </div>
    <div class="row"></div>
</div>
{{ end }}
