<div class="ui inverted vertical footer segment">
  <div class="ui container">
      <div class="ui stackable inverted equal height stackable grid">
        <div class="five wide column">
          <div class="ui inverted link list">
            <a href="#" class="item"></a>
            <a href="{{ "/contact/" | absURL }}" class="item">Contact Us</a>
            <a href="{{ "/docs/" | absURL }}" class="item">Documentation</a>
            <a href="{{ "/services/" | absURL }}" class="item">Services</a>
            <a href="https://github.com/gocolly/colly" class="item" target="_blank">GitHub</a>
          </div>
        </div>
        <div class="eleven wide right aligned bottom aligned column">
          <h4 class="ui inverted header">© 2020 Colly Team</h4>
          <p class="smalltext"><a href="https://github.com/gocolly/site/" target="_blank">Page Source</a><br /><a href="{{ "/sitemap.xml" | absURL }}" target="_blank">Site map</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
