{{ define "main" }}
<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container landing">
    <img class="ui centered medium image" src="{{ "logo.png" | absURL }}">
    <h2>Fast and Elegant Scraping Framework for Gophers</h2>
    <a class="github-button" href="https://github.com/gocolly/colly" data-size="large" data-show-count="true" aria-label="Star gocolly/colly on GitHub">GitHub</a>
  </div>
</div>
<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h2 class="ui header">Colly provides a clean interface to write any kind of crawler/scraper/spider</h2>
        <p>With Colly you can easily extract structured data from websites, which can be used for a wide range of applications, like data mining, data processing or archiving.</p>
        <h2 class="ui header">Features</h2>
        <ul>
          <li>Clean API</li>
          <li>Fast (&gt;1k request/sec on a single core)</li>
          <li>Manages request delays and maximum concurrency per domain</li>
          <li>Automatic cookie and session handling</li>
          <li>Sync/async/parallel scraping</li>
          <li>Caching</li>
          <li>Automatic encoding of non-unicode responses</li>
          <li>Robots.txt support</li>
          <li>Google App Engine support</li>
        </ul>
      </div>
      <div class="eight wide column maincode">
        {{ highlight `func main() {
	c := colly.NewCollector()

	// Find and visit all links
	c.OnHTML("a", func(e *colly.HTMLElement) {
		e.Request.Visit(e.Attr("href"))
	})

	c.OnRequest(func(r *colly.Request) {
		fmt.Println("Visiting", r.URL)
	})

	c.Visit("http://go-colly.org/")
}` "go" "linenos=table" }}
      </div>
	</div>
    <!--
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge button">Check Them Out</a>
      </div>
    </div>
    -->
  </div>
</div>
<div class="ui three column center aligned divided relaxed stackable grid container padding">
    <div class="row">
        <div class="column">
            <h2 class="ui icon header">
                <i class="ui battery full icon image"></i>
                    Batteries included
            </h2>
            <p>Colly comes with all the tools you need for scraping.</p>
            <a href="{{ "docs/" | absURL }}" class="ui primary view-ui large basic button">Examples</a>
        </div>
        <div class="column">
            <h2 class="ui icon header">
                <i class="ui star icon image"></i>
                Business ready
            </h2>
            <p>Free for commercial use.</p>
            <a href="https://github.com/gocolly/colly/blob/master/LICENSE.txt" target="_blank" class="ui primary view-ui large basic button">License</a>
        </div>
        <div class="column">
            <h2 class="ui icon header">
                <i class="ui rocket icon image"></i>
                Open Source
            </h2>
            <p>Development of Colly is community driven and public.</p>
            <a href="https://github.com/gocolly/colly" target="_blank" class="ui primary view-ui large basic button">Project</a>
        </div>
    </div>
</div>
<script async defer src="https://buttons.github.io/buttons.js"></script>
{{ end }}
